
.card-img {
  width: 100%;
  height: 250px;
}

.no-result-card {
  margin: 20px 0px;
  height: 325px;
  background: linear-gradient(to right, #ff512f, #f09819);
  margin: 20px 0px;
  position: relative;
  min-width: 400px;
}

.no-result-card-text {
  color: rgba(255,255,255,1);
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
}

.no-search-button {
  border: 1px solid rgba(255,255,255,0.8);
  color: rgba(255,255,255,0.8);
  font-size: 12px;
  font-weight: 300;
}

.no-search-button:hover {
  border: 1px solid rgba(255,255,255,1);
  color: rgba(255,255,255,1);
  font-size: 12px;
  font-weight: 300;
}

.result-card {
  margin: 20px 0px;
  position: relative;
  overflow: hidden;
  height: 325px;

    &:hover .result-hover-card {
    position: absolute;
    top: 0;
    background: #fff;
    height: 325px;
    transition: top .5s;
    border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #F09819 0%, #FF512F 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #F09819 0%, #FF512F 100%);
    border-image: linear-gradient(to bottom right, #F09819 0%, #FF512F 100%);
    border-image-slice: 1;
  }
}

.result-hover-card {
  top:100%;
}

.result-hover-description {
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  text-align: left;
  padding: 10px;
}

.result-hover-card-details {
  position: relative;
  border-bottom: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #F09819 0%, #FF512F 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #F09819 0%, #FF512F 100%);
  border-image: linear-gradient(to bottom right, #F09819 0%, #FF512F 100%);
  border-image-slice: 1;
  height: 75px;
}
.book-btn {
  font-weight: lighter;
  opacity: 1;
  padding: 10px 25px;
  letter-spacing: 1.5;
  margin-bottom: 10px;
  -moz-background-image: -moz-linear-gradient(left, #FF512F 0%, #F09819 100%);
  background-image: linear-gradient(to right, #FF512F 0%, #F09819 100%);
  background-image-slice: 1;
  font-size: 18px;
  color: white;
  border: white;
  border-radius: 1px;
}
.book-btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}
.result-card-details {
  position: relative;
  border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #F09819 0%, #FF512F 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #F09819 0%, #FF512F 100%);
    border-image: linear-gradient(to bottom right, #F09819 0%, #FF512F 100%);
    border-image-slice: 1;
  border-top: none;
  height: 75px;
}

.result-card-details-left {
  position: absolute;
  left: 10px;
}

.result-card-details-left h4 {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.result-card-details-left p {
  font-weight: 300;
  font-size: 15px;
  text-align: left;
}

.result-card-details-right {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;

}

.result-card-details-right h4 {
  font-weight: bold;
  font-size: 18px;
}

.result-card-details-right p {
  font-weight: 300;
  font-size: 15px;
}

.search-header p {
  opacity: 0.6;
}

.new-search-button {
  border: 1px solid rgba(0,0,0,0.6);
  color: rgba(0,0,0,0.6);
  font-size: 12px;
  font-weight: 300;
}

.new-search-button:hover {
  border: 1px solid rgba(0,0,0,1);
  color: rgba(0,0,0,1);
  font-size: 12px;
  font-weight: 300;
}

.result-line {
  display: flex;
  align-items: baseline;
  margin-top: 50px;
  margin-bottom: -20px;
}

.result-text {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  margin-left: 14px;
}

.result-button {
  margin-left: 15px;
}

.result-header {
  margin-top: 15px;
}

.result-headline {
margin: 30px;
font-weight: 300;
}
.h3-text {
  font-weight: 100;
}
.no-search-button {
  border: 1px solid white;
  font-style: light;
  font-size: 18px;
  margin-top: 15px;
}
