.footer {
  background: linear-gradient(to right, #ff512f, #f09819);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;

  font-weight: 100;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links > a:hover {
  opacity: 1;
}

.footer-copyright {
  display: flex;
  align-items: center;
  font-weight: 100;
}

.footer-copyright > h5 {
  color: rgba(255,255,255,1);
  font-weight: 500;
  font-size: 15px;
  margin-right: 10px;
}

.new-event-button {
  border: 1px solid rgba(255,255,255,1);
  color: rgba(255,255,255,1);
  font-size: 12px;
  font-weight: 300;
}

.new-event-button:hover {
  border: 1px solid rgba(255,255,255,1);
  color: rgba(255,255,255,1);
  font-size: 12px;
  font-weight: 300;
}
