// Specific CSS for your home-page

.top-banner {
  background: linear-gradient(to right, #ff512f, #f09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;

  .glyphicon {
    color: white;
    text-decoration: none;
    padding-top: 200px;
    font-size: 60px;
  }

}
.top-banner h1 {
  font-weight: 400;
}
.banner-content {
  font-family: 'Roboto', sans-serif;
  color: white;
}
.bottom-banner {
  background-size: cover !important;
  height: 100vh;
  padding-top: 85px;
}
.title {
  font-size: 75px;
}
.tag {
  font-size: 30px;
  font-weight: 100;
  padding-bottom: 30px;
}
.input-lg {
  border-radius: 1px;
  font-size: 20px;
  font-weight: 300;
  color: #c9c9c9;
  text-align: center;
}
.form-inline .form-control {
  width: 215px !important;
}
.btn-lg {
  background: none;
  border-radius: 1px;
  padding: 10px 30px;
  color: white;
  border: 1px solid white;
}
.btn-lg:hover {
  color: white;
  opacity: 0.8;
}
.about-card {
  position: relative;
  border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #F09819 0%, #FF512F 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #F09819 0%, #FF512F 100%);
  border-image: linear-gradient(to bottom right, #F09819 0%, #FF512F 100%);
  border-image-slice: 1;
  height: 300px;
  width: 300px;
  margin: 20px 10px;
  vertical-align: center;
  padding-top: 40px;
}
.bottom-banner-header {
  margin-bottom: 100px;
  font-weight: 200;
  background: linear-gradient(to right, #FF512F, #F09819);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.about-card .about-header {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 30px;
}
.about-card p {
  font-weight: 100;
  font-size: 20px;
  text-align: center;
}


