.detail-image {
  margin-right: 0px;
}

.detail-description {
    font-weight: 100;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #F09819 0%, #FF512F 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #F09819 0%, #FF512F 100%);
    border-image: linear-gradient(to bottom right, #F09819 0%, #FF512F 100%);
    border-image-slice: 1;
    border-left: none;
    margin-left: 0px;
    height: 250px;
}

.detail-description h4 {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
}

// .detail-description a {
//   text-decoration: none;
//   color: rgba(0,0,0,0.8);
// }

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.detail-info {
  border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #F09819 0%, #FF512F 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #F09819 0%, #FF512F 100%);
  border-image: linear-gradient(to bottom right, #F09819 0%, #FF512F 100%);
  border-image-slice: 1;
  border-top: none;
  padding: 10px;
}

.detail-info-1 {
  display: flex;
  justify-content: space-around;
}
.detail-info-2 {
  display: flex;
  justify-content: space-around;
}
