.new-card {
  width: 800px;
  padding: 15px 10px;
  background: white;
  align-items: center;
  opacity: 0.95;
  justify: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
.white-container {
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF512F, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF512F, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  // opacity: 0.9;
}
.new-event-header {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 400 !important;
}
.form-inputs-new {
  font-size: 14px;
  font-weight: 400 !important;
  text-align: left;
}


.bootstrap-datetimepicker-widget table td.active.today:before {
    border-bottom-color: #fff;
}
.bootstrap-datetimepicker-widget table td.today:before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #337ab7;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.my_label_class {
  font-weight: 400 !important;
}
.btn-custom {
  // border-bottom: 1px solid transparent;
  // -moz-border-image: -moz-linear-gradient(top left, #F09819 0%, #FF512F 100%);
  // -webkit-border-image: -webkit-linear-gradient(top left, #F09819 0%, #FF512F 100%);
  // border-image: linear-gradient(to bottom right, #F09819 0%, #FF512F 100%);
  // border-image-slice: 1;
  // font-style: light;
  // font-size: 18px;
  // background: linear-gradient(to right, #F09819, #FF512F);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  margin: 20px;
  padding: 10px 25px;
  -moz-background-image: -moz-linear-gradient(left, #FF512F 0%, #F09819 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #FF512F 0%, #F09819 100%);
  background-image: linear-gradient(to right, #FF512F 0%, #F09819 100%);
  background-image-slice: 1;
  font-size: 18px;
  color: white;
}
.btn-custom:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}
