.new-card {
  width: 600px;
  padding: 15px 0;
  background: white;
  align-items: center;
  // opacity: 0.95;
  justify: center;
}
.white-container {
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF512F, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF512F, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  // opacity: 0.9;
}
.bootstrap-datetimepicker-widget table td.active.today:before {
    border-bottom-color: #fff;
}

.bootstrap-datetimepicker-widget table td.today:before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #337ab7;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}
