<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <h5>Know a great event that isn't on Daylily?</h5>
    <%= link_to "Please let us know!", new_event_path, class: "btn btn-sm new-event-button"%>
  </div>
</div>
