<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>


<% @events.each do |event| %>
  <h2><%= event.title %></h2>
<% end %>


<h3>FLight: € <%= @array.first['Barcelona']['results'][0]['fare']['total_price'] %></h3>
