<div class="container">
  <div class="search-header">
    <h1 class="result-headline text-center">Make Your Trip Special</h1>
      <div class="result-line">
        <div class="result-text">
          <p>15 Results: From Amsterdam on 30 September to 15 October</p>
        </div>
        <div class="result-button">
          <a href="#" class="btn btn-sm new-search-button"> New Search</a>
        </div>
      </div>
  </div>
  <div class="result-card-container">
    <div class="row">
      <div class="result-card col-xs-12 col-md-8 col-md-offset-2 col-lg-6">
        <div class="result-card-image">
          <img class="card-img" src="http://diocesisdecucuta.com/diocesis2/wp-content/uploads/2017/08/n2-3.png" alt="">
        </div>
        <div class="result-card-details">
          <div class="result-card-details-left">
            <h4>BARCELONA</h4>
            <p>Fiesta de Gracia</p>
          </div>
          <div class="result-card-details-right">
            <p>Flight + Hotel</p>
            <h4>$150</h4>
          </div>
        </div>
      </div>
      <div class="result-card col-xs-12 col-md-8 col-md-offset-2 col-lg-6">
        <div class="result-card-image">
          <img class="card-img" src="http://www.eurocheapo.com/blog/wp-content/uploads/2014/08/Oktoberfest.jpg" alt="">
        </div>
        <div class="result-card-details">
          <div class="result-card-details-left">
            <h4>MUNICH</h4>
            <p>Oktoberfest</p>
          </div>
          <div class="result-card-details-right">
            <p>Flight + Hotel</p>
            <h4>$375</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<% @events.each do |event| %>
  <div>
    <h2><%= event.title %></h2>
    <h3><%= event.city_airport.city_name %></h3>
    <p>Flight: <%= @result_hash[event.city_airport.city_name][:flight_api_info] %></p>
    <p>Hotel: <%= @result_hash[event.city_airport.city_name][:hotel_api_info] %></p>
    <hr>
  </div>
<% end %>





