<div class="container">
    <div class="row">
      <% @events.each do |event| %>

      <div class="col-xs-12 col-md-8, col-md-offset-2, col-lg-6>
        <div class="card text-center">
            <%= link_to event_path(event), class: "a" do %>
      <% photo = event.photos? ? (cl_image_path event.photos[0].path, width: 400, height: 400, crop: :fill) : image_path("event_pic_placeholder.jpg", height: 250, width: 450, crop: :fill) %>

          <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= photo %>)"></div>
          <div class="card-description"><p class="event-description"><strong>€<%= event.title %></strong> | <%= event.title %></p></div>
        </div>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
