.new-card {
  width: 600px;
  padding: 15px 0;
  background: white;
  align-items: center;
  // opacity: 0.95;
  justify: center;
}
.white-container {
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF512F, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF512F, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0.9;
}
